<!DOCTYPE html>
<html>
  <head>
    <title>LoanApplicationForm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <!-- Add these lines to include Flatpickr and Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/default.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css"></script>
  </head>

  <body>
    <style>
     /* Add this to your stylesheet */
/* Add this to your stylesheet */
.flash-notice,
.flash-alert {
  font-size: 18px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin: 20px; /* Adjust margin as needed */
  max-width: 80%;
  position: fixed;
  top: 40px; /* Adjust top position as needed */
  right: 10px;
}

.flash-notice {
  color: #222c21; /* Bootstrap's success text color */
  background-color: #adf796; /* Bootstrap's success background color */
}

.flash-alert {
  color: #d9534f; /* Bootstrap's danger text color */
  background-color: #f2dede; /* Bootstrap's danger background color */
}

.close-btn {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  border: none; /* Remove the border */
  background: none; /* Remove background */
}



    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "ProsperPulse", root_path, class: "navbar-brand", style: "margin-left: 15px;", id: "logo" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <% if user_signed_in? %>
            <li class="nav-item">
              <span class="navbar-text" style="color: rgb(51, 54, 50); font-weight: bold; ">
                Empower your dreams - <%= current_user.email.split('@').first %>
              </span>
            </li>
          <% end %>        
          <li class="nav-item <%= 'active' if current_page?(about_path) %>" style="margin-left: 720px;">
            <%= link_to "About Us", about_path, class: "nav-link" %>
          </li>
        </ul>
    
        <% unless user_signed_in? %>
        <ul class="navbar-nav" >
          <li class="nav-item">
            <%= link_to "Register", new_user_registration_path, class: "btn btn-success btn-lg nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "LogIn", new_session_path(User.new), class: "btn btn-success btn-lg nav-link" %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav" style="margin-right: 15px;">
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-lg nav-link" %>
          </li>
        </ul>
      <% end %>
      </div>
    </nav>
    
    
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="flash-<%= name %> alert">
          <%= msg %>
          <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
      <% end %>
    <% end %>
     <%= yield %>


    
</body>
</html>
